<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
      .subtitle {
        font-size: .5em;
      }

        .title {
          color: black;
        }

        .title:hover {
          text-decoration: none;
          color: black;
        }
    </style>
  </head>
  <body>
      <div class="container">
        <header>
          <h1>
            <a class="title" href="/">Ruby Proctor</a>
            <small class="subtitle text-muted">Rapidly Develop New Rubocop Rules</small>
          </h1>
        </header>
      </div>
      <div class="container">
        <h4>About</h4>
        <p>I plan on adding some instruction on this website on how to write Rubocop rules, but in the meantime, the best resources for learning how to do this are the <a href="https://github.com/bbatsov/rubocop/tree/master/lib/rubocop/cop">Rubocop repo itself</a> and <a href="https://github.com/backus/rubocop-rspec/tree/master/lib/rubocop/cop/rspec">rubocop-rspec</a>.
        <p>Ruby Proctor was built using <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://jquery.com/">jQuery</a>, <a href="http://codemirror.net/">CodeMirror</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, and <a href="https://github.com/bbatsov/rubocop">Rubocop</a>, with inspiration from <a href="http://astexplorer.net/">AST Explorer</a>.</p>
        <h4>Coming Soon</h4>
        <ul>
          <li>Support for different versions of Ruby (currently only supports 2.41)</li>
          <li>Open Sourcing the code</li>
          <li>Editor Extensions</li>
        </ul>
      </div>
      <div class="container">
      <div class="footer text-right">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          /*#mc_embed_signup{background:#fff; font:14px Helvetica,Arial,sans-serif; width:100%;}*/
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://rubyproctor.us17.list-manage.com/subscribe/post?u=8582ffd7d431ccc9ab3fc5a4e&amp;id=e8567e5da9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
By <a href="http://github.com/squidarth">@squidarth</a>. Tweet <a href="http://twitter.com/sidpshanker">@sidpshanker</a>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8582ffd7d431ccc9ab3fc5a4e_e8567e5da9" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
      </div>
  </body>
</html>

